
<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <h1>this site is abt cats</h1>
        {{{body}}} <!-- every template that you render will be inserted here -->
        {{!-- triple curly?? --}}
    </body>
</html>