<h2>Complaints</h2>
{{!-- add filter 10:03 --}}
<table>
    {{#each complaints}}
    <tr>
        <td>{{line}}</td>
        <td>{{complaintText}}</td>
        <td>{{box}}</td>
    </tr>
    {{/each}}
</table>